/* Private CSS variables */

:root {
  --jp-private-webds-launcher-top-padding: 16px;
  --jp-private-webds-launcher-side-padding: 16px;
  --jp-private-webds-launcher-card-size: 130px;
  --jp-private-webds-launcher-card-icon-height: 68px;
  --jp-private-webds-launcher-card-label-height: 38px;
  --jp-private-webds-launcher-card-other-size: 100px;
  --jp-private-webds-launcher-card-other-icon-height: 68px;
  --jp-private-webds-launcher-card-other-label-height: 32px;
  --jp-private-webds-launcher-small-icon-size: 32px;
  --jp-private-webds-launcher-large-icon-size: 52px;
}

/* Launcher */

.jp-webdsLauncher {
  box-sizing: border-box;
  min-width: 120px;
  min-height: 120px;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  outline: none;
  background: var(--jp-layout-color0);
  font-size: var(--jp-ui-font-size1);
}

.jp-webdsLauncher-shadow {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  transition: all 0.2s ease-out;
}

.jp-webdsLauncher.off-top .jp-webdsLauncher-shadow-top {
  box-shadow: 0 1.2em 1em -1em grey inset;
}

.jp-webdsLauncher.off-bottom .jp-webdsLauncher-shadow-bottom {
  box-shadow: 0 -1.2em 1em -1em grey inset;
}

.jp-webdsLauncher-body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jp-webdsLauncher-content {
  box-sizing: border-box;
  height: 100%;
  padding-top: var(--jp-private-webds-launcher-top-padding);
  padding-left: var(--jp-private-webds-launcher-side-padding);
  padding-right: var(--jp-private-webds-launcher-side-padding);
}

.jp-webdsLauncher-content-main {
  height: 100%;
}

/* Launcher Section */

.jp-webdsLauncher-section {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 24px;
  padding-bottom: 12px;
}

.jp-webdsLauncher-section-header {
  box-sizing: border-box;
  margin-left: 5px;
  margin-bottom: 8px;
  padding-bottom: 0px;
  border-bottom: 1px solid var(--jp-border-color2);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.jp-webdsLauncher-section-title {
  box-sizing: border-box;
  font-weight: normal;
  font-size: var(--jp-ui-font-size2);
  color: var(--jp-ui-font-color1);
}

/* Launcher Cards */

.jp-webdsLauncher-card-container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.jp-webdsLauncher-card {
  width: var(--jp-private-webds-launcher-card-size);
  height: var(--jp-private-webds-launcher-card-size);
  margin: 8px;
  padding: 0px;
  border: 1px solid var(--jp-border-color2);
  border-radius: var(--jp-border-radius);
  background: var(--jp-layout-color0);
  box-shadow: var(--jp-elevation-z2);
  transition: 0.2s box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.jp-webdsLauncher-card:hover {
  background: var(--jp-layout-color1);
  box-shadow: var(--jp-elevation-z6);
}

.jp-webdsLauncher-card-other {
  width: var(--jp-private-webds-launcher-card-other-size);
  height: var(--jp-private-webds-launcher-card-other-size);
  margin: 8px;
  padding: 0px;
  border: 1px solid var(--jp-border-color2);
  border-radius: var(--jp-border-radius);
  background: var(--jp-layout-color0);
  box-shadow: var(--jp-elevation-z2);
  transition: 0.2s box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.jp-webdsLauncher-card-other:hover {
  background: var(--jp-layout-color1);
  box-shadow: var(--jp-elevation-z6);
}

.jp-webdsLauncher-icon {
  box-sizing: border-box;
  width: 100%;
  height: var(--jp-private-webds-launcher-card-icon-height);
  margin: 12px 0px 0px 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jp-webdsLauncher-icon-other {
  box-sizing: border-box;
  width: 100%;
  height: var(--jp-private-webds-launcher-card-other-icon-height);
  margin: 8px 0px 0px 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jp-webdsLauncher-label {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: var(--jp-private-webds-launcher-card-label-height);
  padding: 0 4px 4px 4px;
  word-break: break-word;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
  color: var(--jp-ui-font-color1);
  user-select: none;
}

.jp-webdsLauncher-label-other {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: var(--jp-private-webds-launcher-card-other-label-height);
  padding: 0 4px 4px 4px;
  word-break: break-word;
  text-align: center;
  line-height: 12px;
  font-size: 10px;
  color: var(--jp-ui-font-color1);
  user-select: none;
}

.jp-webdsLauncher-options {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.jp-webdsLauncher-option-button {
  height: 20px;
  flex: 1 1 auto;
  text-align: center;
  font-size: 12px;
  color: rgb(0, 132, 255);
}

.jp-webdsLauncher-option-button-text {
  width: 100%;
}

.jp-webdsLauncher-option-button:hover {
  background: var(--jp-layout-color2);
}
